<div class="jumbotron animated fadeIn">
    <h1 class="display-4">Hero app</h1>
    <p class="lead">Esta es una aplicación SPA de héroes de Marvel y DC</p>
    <hr class="my-4">
    <p>Aquí vimos</p>
    <ul class="list-group">
        <li class="list-group-item">Componentes mediante el CLI</li>
        <li class="list-group-item">Rutas</li>
        <li class="list-group-item">Router Link</li>
        <li class="list-group-item">Rutas parametrizadas</li>
        <li class="list-group-item">Servicios(Proveedores de información)</li>
        <li class="list-group-item">Eventos de Angular</li>
        <li class="list-group-item">Varias formas de usar bootstrap</li>
        <li class="list-group-item">Directivas estructurales (*ngFor/*ngIf)</li>
        <li class="list-group-item">Directiva ngClass en Border de Heros</li>
    </ul>
    <hr>

    <a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button">Ir a home</a>
  </div>